body {
   margin-left: 5%;
    margin-right: 5%;
    color: rgb(137, 43, 226);
    background-color: black;
    flex-wrap: nowrap;
    background-size: cover;

    background-image: url('OIG.nEJp58LK_kMl.jpg');
    
    
    
   
    background-position: center; /* Выравниваем изображение по центру */

 
    
}
h1{
    text-shadow: 1px 1px 2px rgb(0 0 0);
    font-size: 45px;
    color: rgb(255, 255, 255);
}

.name{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     background: linear-gradient(to top, #a3a3a34f, #ffffff00);

    
    
}
/*.image-container {
    width: 681px;
    height: auto;
    
}

.clipped-image {
    width: 248px;
    height: auto;
    display: block;
}*/
.imageMIDLE{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
     background: #a3a3a34f;
   
   
}

.img-sizeBG{
    width: 240px;
    height: auto;
}
.img-sizeBGG{
    width: 211px;
    height: auto;
    padding-top: 10px;
}
.top{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    padding-right: 20px;
    background: #a3a3a34f;
}


h2 {
    color: aquamarine;
    font-family: 'Montserrat';
    font-size: medium;
    border-left: 20px;
    text-shadow: 1px 2px 0px black;
}
.img-size {
    width: 80px;
    height: 80px;
}
.img-sizeCAT {
    width: 55px;
    height: 55px;
}


.clicker-container {
    text-align: center;
}

#upgradeContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
   
}
.upgradeColumn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
}


.ContOne_three{
    display: block;
}

.hidden1, .hidden2, .hidden3, .hidden4, .hidden5, .hidden6, .hidden7 {
    display: none;
    
}
.catIMG{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

button {
    padding: 11px 11px;
    font-size: 10px;
    margin: 2px;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition for the transform property */
   
    
    border-radius: 10px; /* Закругление углов на 10 пикселей */
            
            color: #000000; /* Цвет текста кнопки */
            border: none; /* Убираем границу у кнопки */

}

button:hover {
    transform: scale(1.1); /* Scale the button by 10% on hover */
}

button:active {
    transform: scale(0.9); /* Scale the button by 10% on press */
    transform: rotate(3)
}


.clickButton  {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    width: 100%; /* 100% ширины родительского контейнера */
    
}
.cliker{
    padding: 20px 60px;
    font-size: 15px;
    margin: 10px;
}
    
.Count{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: linear-gradient(to bottom, #a3a3a34f, #a3a3a300);

}
.Count h2 .first-part{
    margin-right: 25px;
}
.Count h2 .th-part {
    margin-left: 25px; /* значение отступа */
}
