
   /* body {
        background-color: black;
        color: aquamarine;
        text-align: center;
    }   
    */
    .card {
        width: 103px;
        height: 164px;
        border: 1px solid #ccc;
        margin: 10px;
        padding: 10px;
        text-align: center;
        display: inline-block;
        transition: transform 0.3s ease; /* Добавляем анимацию */
    }
    .headerCard{
        padding: 20px;
    }

    .card:hover {
        transform: scale(1.1) rotate(5deg); /* При наведении увеличиваем и наклоняем карту */
    }

    .card img {
        max-width: 100%;
        max-height: 100%;
    }

    #rewardItems {
        display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    width: 301px;
    justify-content: center;
    }

    @keyframes slideIn {
        0% { transform: translateY(-20px); opacity: 0; }
        100% { transform: translateY(0); opacity: 1; }
    }
    
    
    

    /* Стили для popup */
    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #290303;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        z-index: 9999;
        display: none;
        color: black;
    }

    .popup img {
        max-width: 100px;
        max-height: 150px;
        margin: 5px;
    }

    .popup button {
        margin-top: 10px;
    }
      /* Стили для карты во втором popup */
      #cardDetailsPopup .card {
        width: 150px;
        height: 240px;
        background-color: #333;
        color: white;
        border: 2px solid aquamarine;
    }

    #cardDetailsPopup img {
        max-width: 403px;
    max-height: 493px;
    margin: 5px;
    border-radius: 45px;
    border: 4px solid #000000bf;
    }
/* Common Rarity */
.card.common {
    border: 1px solid #ccc;
}

/* Rare Rarity */
.card.rare {
    border: 1px solid #FFD700; /* Gold border */
}

/* Epic Rarity */
.card.epic {
    border: 1px solid #9932CC; /* Purple border */
}

/* Legendary Rarity */
.card.legendary {
    border: 1px solid #FF4500; /* Orange border */
}

/* Стили для кнопок */
/*button {
    background-color: aquamarine;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: lightcyan;
}

/* Стили для выпадающего меню */
#filterDropdown {
    background-color: aquamarine;
    color: black;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.img-size-cover{
    width: 80px;
    height: 80px;
    
}
.TextHad_cover{
    font-family: "Roboto";
    font-size: 24px;
    letter-spacing: 0px;
    color: rgba(27, 28, 23, 1);
    text-align: start;
    
}


#filterDropdown:hover {
    background-color: lightcyan;
}

#filterDropdown option {
    background-color: white;
    color: black;
}
.rrr{
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}