body {
    
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(137, 43, 226);
    background-color: black;
    flex-wrap: nowrap;
    background-size: cover;

    background-image: url('OIG.nEJp58LK_kMl.jpg');
    
    
   
    background-position: center; /* Выравниваем изображение по центру */

 
    
}
h1{
    text-shadow: 1px 1px 2px rgb(0 0 0);
    font-size: 45px;
    color: rgb(255, 255, 255);
}

.name{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
     background: linear-gradient(to top, #a3a3a34f, #ffffff00);

    
    
}
/*.image-container {
    width: 681px;
    height: auto;
    
}

.clipped-image {
    width: 248px;
    height: auto;
    display: block;
}*/
.imageMIDLE{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
     background: #a3a3a34f;
   
   
}

.img-sizeBG{
    width: 240px;
    height: auto;
}
.img-sizeBGG{
    width: 211px;
    height: auto;
    padding-top: 10px;
}
.top{
    display: block;
    
    /*padding-right: 20px;*/
    background: #a3a3a34f;
}


h2 {
    color: aquamarine;
    font-family: 'Montserrat';
    font-size: medium;
    border-left: 20px;
    text-shadow: 1px 2px 0px black;
}
#clickCount{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-size {
    width: 80px;
    height: 80px;
}
.img-sizeCAT {
    width: 55px;
    height: 55px;
}


.clicker-container {
    text-align: center;
    
}

#upgradeContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
   
}



.ContOne_three{
    display: block;
}

.hidden1, .hidden2, .hidden3, .hidden4, .hidden5, .hidden6, .hidden7, .hidden8,
 .hidden9, .hidden10, .hidden11, .hidden12, .hidden13, .hidden14 {
    display: none;
    
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes slideDown {
    0% { transform: translateX(20px); }
    100% { transform: translateX(0); }
    100% { transform: translateY(0); }
}

/* Display notifications initially with fadeInOut animation */
.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 1s ease-in-out, slideDown 0.5s ease-in-out;;
}

/* Apply fade-out animation when hiding notifications */
.notification.fadeOut {
    animation: fadeOut 0.5s ease-in-out;
}

.success { background-color: #4CAF50; }
.info { background-color: #3498db; }
.warning { background-color: #f39c12; }
.error { background-color: #e74c3c; }
.custom { background-color: #9b59b6; }


.catIMG{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#catCount{
    font-size: 24px;
}

button {
    padding: 11px 11px;
    
    margin: 2px;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition for the transform property */
   
    
    border-radius: 10px; /* Закругление углов на 10 пикселей */
            
            color: #000000; /* Цвет текста кнопки */
            border: none; /* Убираем границу у кнопки */

}

button:hover {
    transform: scale(1.1); /* Scale the button by 10% on hover */
}

button:active {
    transform: scale(0.9); /* Scale the button by 10% on press */
    
}


.clickButton .clicker {
    padding: 20px 60px;
    margin: 10px;
    background-color: #000000;
    color: #fff;
    border: 2px solid #2980b9;
}

/* Style the animated number */
#animatedNumber {
    font-size: 30px;
    color: white;
    text-shadow: 1px 2px 0px black;
    opacity: 0;
    transition: opacity 0.1s, transform 3s;
    display: block;
}
.animated-number-container {
    display: block;
    z-index: 1; /* Ensure it's above other elements */
    
   
}
    
.Count{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: linear-gradient(to bottom, #a3a3a34f, #a3a3a300);

}
.Count h2 .first-part{
    margin-right: 25px;
}
.Count h2 .th-part {
    margin-left: 25px; /* значение отступа */
}
