body {
    
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(137, 43, 226);
    background-color: black;
   

    background-image: url('OIG.nEJp58LK_kMl.jpg');
    
    
   
    background-position: center; /* Выравниваем изображение по центру */

 
    
}
h1{
    text-shadow: 1px 1px 2px rgb(0 0 0);
    font-size: 45px;
    color: rgb(255, 255, 255);
}
.highlight {
    background-color: rgb(8, 57, 8);
    color: white;
}

.name{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
     background: linear-gradient(to top, #a3a3a34f, #ffffff00);

    
    
}
/*.image-container {
    width: 681px;
    height: auto;
    
}

.clipped-image {
    width: 248px;
    height: auto;
    display: block;
}*/

.imageMIDLE{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    
   
   
}
.upgrade-marker{
    float: right;
    color: #4CAF50;
    font-size: 30px;
    margin-bottom: -7px;
    margin-right: -9px;
    margin-top: -13px;
    margin-left: -40px;
    display: none;
   
}

.img-sizeBG{
    width: 240px;
    height: auto;
}
.img-sizeBGG{
    width: 211px;
    height: auto;
    padding-top: 10px;
}
.top{
    display: block;
    
    /*padding-right: 20px;*/
    background: #a3a3a34f;
}


h2 {
    color: aquamarine;
    font-family: 'Montserrat';
    font-size: medium;
    text-shadow: 1px 2px 0px black;
    border: 2px solid #78beed;
    background-color: #00000047;
    padding: 20px 60px;
}
#clickCount{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-size {
    width: 80px;
    height: 80px;
}
.img-sizeCAT {
    width: 55px;
    height: 55px;
}
.img-sizeCAT_top{
    width: 50px;
    height: 50px;
}


.clicker-container {
    text-align: center;
    
}

#upgradeContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
   
}



.ContOne_three{
    display: block;
}

.hidden1, .hidden2, .hidden3, .hidden4, .hidden5, .hidden6, .hidden7, .hidden8,
 .hidden9, .hidden10, .hidden11, .hidden12, .hidden13, .hidden14, .hidden15,
 .hidden16,.hidden17,.hidden18, .hidden19,.hidden20,.hidden21,.hidden22 {
    display: none;
    
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes slideDown {
    0% { transform: translateX(20px); }
    100% { transform: translateX(0); }
    100% { transform: translateY(0); }
}

/* Display notifications initially with fadeInOut animation */
.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 1s ease-in-out, slideDown 0.5s ease-in-out;;
}

/* Apply fade-out animation when hiding notifications */
.notification.fadeOut {
    animation: fadeOut 0.5s ease-in-out;
}

.success { background-color: #4CAF50; }
.info { background-color: #3498db; }
.warning { background-color: #f39c12; }
.error { background-color: #e74c3c; }
.custom { background-color: #9b59b6; }


.catIMG{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#catCount{
    font-size: 24px;
}

button {
    padding: 11px 11px;
    margin: 2px;
    transition: transform 0.3s cubic-bezier(0.46, 0.56, 0.08, 1.07);
    border-radius: 10px;
    color: #000000;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: translate(-5px, -5px); /* Смещаем кнопку на 5 пикселей влево и вверх при наведении */
}

button:active {
    transform: scale(0.9);
}

.clickButton{
    /*position: fixed;*/
    bottom: 17px;
    right: 30px;
}


.clickButton .clicker {
    padding: 20px 60px;
    margin: 25px;
    background-color: #000000c7;
    color: #fff;
    border: 2px solid #2980b9;
    transition: transform 0.3s cubic-bezier(0.46, 0.56, 0.08, 1.07);
}

.clickButton .clicker:hover {
    transform: scale(1.1); /* Уменьшаем элемент при нажатии */
}

.clickButton .clicker:active {
    transform: scale(0.9); /* Уменьшаем элемент при нажатии */
}

/* Style the animated number */
#animatedNumber {
    font-size: 30px;
    color: white;
    text-shadow: 1px 2px 0px black;
    
    
    display: block;
}
.animated-number-container {
    display: block;
    z-index: 1; /* Ensure it's above other elements */
    
   
}
    
.Count{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: linear-gradient(to bottom, #a3a3a34f, #a3a3a300);

}
.Count h2 .first-part{
    margin-right: 25px;
}
.Count h2 .th-part {
    margin-left: 25px; /* значение отступа */
}
.sity{
    padding-bottom: 200px;
   
    position: relative;
    background-color: rgba(76, 175, 79, 0.807);



    /*background-image:url('OIG (11).jpg');
    background-size: cover;*/
    
    
}

.caption {
    
    background-color: rgba(255, 255, 255, 0.7); /* Прозрачный белый фон для текста */
    
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}
.img-sity{
    width: 55px;
    height: 55px;
    margin-left: 0px;
    margin-right: 0px;
   
}
.img-sity_home_one{
    width: 55px;
    height: 55px;
    
}
.img-sity_tl{
    width: 55px;
    height: 55px;

}

.img-sity_tl_br{
    width: 55px;
    height: auto;
}



/* слайд бар*/
#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    padding: 16px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    
}

.openbtn:hover {
    background-color: #444;
    transform: rotate(90dgr);
}

@media screen and (max-width: 700px) {
    #sidebar {
        padding-top: 15px;
    }
    #sidebar a {
        font-size: 16px;
    }
    #sidebar .closebtn {
        font-size: 30px;
    }
}
